site_name: IronCore / Metal Operator
repo_url: https://github.com/ironcore-dev/metal-operator/
edit_uri: edit/main/docs/
theme:
  icon:
    repo: fontawesome/brands/github
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.expand
  - navigation.indexes
  - navigation.top
  name: material
  logo: https://raw.githubusercontent.com/ironcore-dev/ironcore/main/docs/assets/logo.svg
  favicon: https://raw.githubusercontent.com/ironcore-dev/ironcore/main/docs/assets/favicon/favicon.ico
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: white
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode
  font:
    text: 'Work Sans'

plugins:
- search

markdown_extensions:
- pymdownx.highlight
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.snippets
- codehilite
- admonition
- abbr
- toc:
    permalink: true

nav:
- Home: README.md
- Architecture: architecture.md
- Concepts:
    - Endpoints: concepts/endpoints.md
    - BMCs: concepts/bmcs.md
    - BMCSecrets: concepts/bmcsecrets.md
    - Servers: concepts/servers.md
    - ServerBootConfigurations: concepts/serverbootconfigurations.md
    - ServerClaims: concepts/serverclaims.md
    - ServerMaintenance: concepts/servermaintenance.md
- Usage:
  - metalctl: usage/metalctl.md
- Development Guide:
  - Local Setup: development/dev_setup.md
  - Documentation: development/dev_docs.md
- API Reference: api-reference/api.md

extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/ironcore-dev/metal-operator
