---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metal.ironcore.dev
  resources:
  - BMC
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - metal.ironcore.dev
  resources:
  - biossettings
  - biossettingssets
  - biosversions
  - biosversionsets
  - bmcs
  - bmcsecrets
  - bmcsettings
  - bmcsettingssets
  - bmcusers
  - bmcusersets
  - bmcversions
  - bmcversionsets
  - endpoints
  - serverbootconfigurations
  - serverclaims
  - serverconfigurations
  - servermaintenances
  - servers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metal.ironcore.dev
  resources:
  - biossettings/finalizers
  - biossettingssets/finalizers
  - biosversions/finalizers
  - biosversionsets/finalizers
  - bmcs/finalizers
  - bmcsecrets/finalizers
  - bmcsettings/finalizers
  - bmcsettingssets/finalizers
  - bmcusers/finalizers
  - bmcusersets/finalizers
  - bmcversions/finalizers
  - bmcversionsets/finalizers
  - endpoints/finalizers
  - serverbootconfigurations/finalizers
  - serverclaims/finalizers
  - servermaintenances/finalizers
  - servers/finalizers
  verbs:
  - update
- apiGroups:
  - metal.ironcore.dev
  resources:
  - biossettings/status
  - biossettingssets/status
  - biosversions/status
  - biosversionsets/status
  - bmcs/status
  - bmcsecrets/status
  - bmcsettings/status
  - bmcsettingssets/status
  - bmcusers/status
  - bmcusersets/status
  - bmcversions/status
  - bmcversionsets/status
  - endpoints/status
  - serverbootconfigurations/status
  - serverclaims/status
  - servermaintenances/status
  - servers/status
  verbs:
  - get
  - patch
  - update
