---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metal.ironcore.dev
  resources:
  - bmcs
  - bmcsecrets
  - endpoints
  - serverbioses
  - serverbootconfigurations
  - serverclaims
  - serverconfigurations
  - servermaintenances
  - servers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - metal.ironcore.dev
  resources:
  - bmcs/finalizers
  - bmcsecrets/finalizers
  - endpoints/finalizers
  - serverbioses/finalizers
  - serverbootconfigurations/finalizers
  - serverclaims/finalizers
  - servermaintenances/finalizers
  - servers/finalizers
  verbs:
  - update
- apiGroups:
  - metal.ironcore.dev
  resources:
  - bmcs/status
  - bmcsecrets/status
  - endpoints/status
  - serverbioses/status
  - serverbootconfigurations/status
  - serverclaims/status
  - servermaintenances/status
  - servers/status
  verbs:
  - get
  - patch
  - update
