apiVersion: metal.ironcore.dev/v1alpha1
kind: ServerMaintenance
metadata:
  labels:
    app.kubernetes.io/name: metal-operator
    app.kubernetes.io/managed-by: kustomize
  name: servermaintenance-sample
spec:
  serverRef:
    name: example-server
  policy: Enforced
  priority: 100
  serverPower: Off
