# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/metal.ironcore.dev_endpoints.yaml
- bases/metal.ironcore.dev_bmcsecrets.yaml
- bases/metal.ironcore.dev_bmcs.yaml
- bases/metal.ironcore.dev_servers.yaml
- bases/metal.ironcore.dev_serverbootconfigurations.yaml
- bases/metal.ironcore.dev_serverclaims.yaml
- bases/metal.ironcore.dev_servermaintenances.yaml
- bases/metal.ironcore.dev_servermaintenancesets.yaml
- bases/metal.ironcore.dev_biossettings.yaml
- bases/metal.ironcore.dev_biosversions.yaml
- bases/metal.ironcore.dev_bmcsettings.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- path: patches/webhook_in_endpoints.yaml
#- path: patches/webhook_in_bmcsecrets.yaml
- path: patches/webhook_in_bmcs.yaml
#- path: patches/webhook_in_servers.yaml
#- path: patches/webhook_in_serverbootconfigurations.yaml
- path: patches/webhook_in_serverclaims.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- path: patches/cainjection_in_endpoints.yaml
#- path: patches/cainjection_in_bmcsecrets.yaml
#- path: patches/cainjection_in_bmcs.yaml
#- path: patches/cainjection_in_servers.yaml
#- path: patches/cainjection_in_serverbootconfigurations.yaml
#- path: patches/cainjection_in_serverclaims.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.

configurations:
- kustomizeconfig.yaml
