---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: biossettingssets.metal.ironcore.dev
spec:
  group: metal.ironcore.dev
  names:
    kind: BIOSSettingsSet
    listKind: BIOSSettingsSetList
    plural: biossettingssets
    singular: biossettingsset
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.biosSettingsTemplate.version
      name: BIOSVersion
      type: string
    - jsonPath: .status.fullyLabeledServers
      name: TotalServers
      type: string
    - jsonPath: .status.availableBIOSSettings
      name: AvailableBIOSSettings
      type: string
    - jsonPath: .status.pendingBIOSSettings
      name: Pending
      type: string
    - jsonPath: .status.inProgressBIOSSettings
      name: InProgress
      type: string
    - jsonPath: .status.completedBIOSSettings
      name: Completed
      type: string
    - jsonPath: .status.failedBIOSSettings
      name: Failed
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BIOSSettingsSet is the Schema for the biossettingssets API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BIOSSettingsSetSpec defines the desired state of BIOSSettingsSet.
            properties:
              biosSettingsTemplate:
                description: BiosSettingsTemplate defines the template for the BIOSSettings
                  Resource to be applied to the servers.
                properties:
                  serverMaintenancePolicy:
                    description: ServerMaintenancePolicy is a maintenance policy to
                      be enforced on the server.
                    type: string
                  settingsFlow:
                    description: SettingsFlow contains BIOS settings sequence to apply
                      on the BIOS in given order
                    items:
                      properties:
                        name:
                          description: Name is the name of the flow item
                          maxLength: 1000
                          minLength: 1
                          type: string
                        priority:
                          description: |-
                            Priority defines the order of applying the settings
                            any int greater than 0. lower number have higher Priority (ie; lower number is applied first)
                          format: int32
                          maximum: 2147483645
                          minimum: 1
                          type: integer
                        settings:
                          additionalProperties:
                            type: string
                          description: 'Settings contains software (eg: BIOS, BMC)
                            settings as map'
                          type: object
                      required:
                      - name
                      - priority
                      type: object
                    type: array
                  version:
                    description: 'Version contains software (eg: BIOS, BMC) version
                      this settings applies to'
                    type: string
                required:
                - version
                type: object
              serverSelector:
                description: ServerSelector specifies a label selector to identify
                  the servers that are to be selected.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            required:
            - serverSelector
            type: object
          status:
            description: BIOSSettingsSetStatus defines the observed state of BIOSSettingsSet.
            properties:
              availableBIOSSettings:
                description: AvailableBIOSVersion is the number of Settings current
                  created by the set.
                format: int32
                type: integer
              completedBIOSSettings:
                description: CompletedBIOSSettings is the total number of completed
                  server in the set.
                format: int32
                type: integer
              failedBIOSSettings:
                description: FailedBIOSSettings is the total number of failed server
                  in the set.
                format: int32
                type: integer
              fullyLabeledServers:
                description: FullyLabeledServers is the number of server in the set.
                format: int32
                type: integer
              inProgressBIOSSettings:
                description: InProgressBIOSSettings is the total number of server
                  in the set that are currently in InProgress.
                format: int32
                type: integer
              pendingBIOSSettings:
                description: PendingBIOSSettings is the total number of pending server
                  in the set.
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
