---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: biosversionsets.metal.ironcore.dev
spec:
  group: metal.ironcore.dev
  names:
    kind: BIOSVersionSet
    listKind: BIOSVersionSetList
    plural: biosversionsets
    singular: biosversionset
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.biosVersionTemplate.version
      name: BIOSVersion
      type: string
    - jsonPath: .status.fullyLabeledServers
      name: selectedServers
      type: integer
    - jsonPath: .status.availableBIOSVersion
      name: AvailableBIOSVersion
      type: integer
    - jsonPath: .status.pendingBIOSVersion
      name: Pending
      type: integer
    - jsonPath: .status.inProgressBIOSVersion
      name: InProgress
      type: integer
    - jsonPath: .status.completedBIOSVersion
      name: Completed
      type: integer
    - jsonPath: .status.failedBIOSVersion
      name: Failed
      type: integer
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BIOSVersionSet is the Schema for the biosversionsets API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BIOSVersionSetSpec defines the desired state of BIOSVersionSet.
            properties:
              biosVersionTemplate:
                description: BIOSVersionTemplate defines the template for the BIOSversion
                  Resource to be applied to the servers.
                properties:
                  image:
                    description: details regarding the image to use to upgrade to
                      given BIOS version
                    properties:
                      URI:
                        description: The URI of the software image to update/install."
                        type: string
                      secretRef:
                        description: |-
                          ImageSecretRef is a reference to the Kubernetes Secret (of type SecretTypeBasicAuth) object that contains the credentials
                          to access the ImageURI. This secret includes sensitive information such as usernames and passwords.
                        properties:
                          name:
                            description: name is unique within a namespace to reference
                              a secret resource.
                            type: string
                          namespace:
                            description: namespace defines the space within which
                              the secret name must be unique.
                            type: string
                        type: object
                        x-kubernetes-map-type: atomic
                      transferProtocol:
                        description: The network protocol that the server's update
                          service uses to retrieve 'ImageURI'
                        type: string
                    required:
                    - URI
                    type: object
                  serverMaintenancePolicy:
                    description: ServerMaintenancePolicy is a maintenance policy to
                      be enforced on the server.
                    type: string
                  updatePolicy:
                    description: UpdatePolicy An indication of whether the server's
                      upgrade service should bypass vendor update policies
                    type: string
                  version:
                    description: Version contains a BIOS version to upgrade to
                    type: string
                required:
                - image
                - version
                type: object
              serverSelector:
                description: ServerSelector specifies a label selector to identify
                  the servers that are to be selected.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            required:
            - serverSelector
            type: object
          status:
            description: BIOSVersionSetStatus defines the observed state of BIOSVersionSet.
            properties:
              availableBIOSVersion:
                description: AvailableBIOSVersion is the number of BIOSVersion created
                  by the set.
                format: int32
                type: integer
              completedBIOSVersion:
                description: CompletedBIOSVersion is the total number of completed
                  BIOSVersion in the set.
                format: int32
                type: integer
              failedBIOSVersion:
                description: FailedBIOSVersion is the total number of failed BIOSVersion
                  in the set.
                format: int32
                type: integer
              fullyLabeledServers:
                description: FullyLabeledServers is the number of servers in the set.
                format: int32
                type: integer
              inProgressBIOSVersion:
                description: InProgressBIOSVersion is the total number of BIOSVersion
                  in the set that are currently in InProgress.
                format: int32
                type: integer
              pendingBIOSVersion:
                description: PendingBIOSVersion is the total number of pending BIOSVersion
                  in the set.
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
