---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: bmcsettings.metal.ironcore.dev
spec:
  group: metal.ironcore.dev
  names:
    kind: BMCSettings
    listKind: BMCSettingsList
    plural: bmcsettings
    singular: bmcsettings
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.version
      name: BMCVersion
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .spec.BMCRef.name
      name: BMCRef
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BMCSettings is the Schema for the BMCSettings API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              BMCRef:
                description: BMCRef is a reference to a specific BMC to apply setting
                  to.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: BMCRef is immutable
                  rule: self == oldSelf
              serverMaintenancePolicy:
                description: ServerMaintenancePolicy is a maintenance policy to be
                  applied on the server.
                type: string
              serverMaintenanceRefs:
                description: |-
                  ServerMaintenanceRefs are references to ServerMaintenance objects which are created by the controller for each
                  server that needs to be updated with the BMC settings.
                items:
                  description: ServerMaintenanceRefItem is a reference to a ServerMaintenance
                    object.
                  properties:
                    serverMaintenanceRef:
                      description: ServerMaintenanceRef is a reference to a ServerMaintenance
                        object that the BMCSettings has requested for the referred
                        server.
                      properties:
                        apiVersion:
                          description: APIVersion is the API version of the referenced
                            object.
                          type: string
                        kind:
                          description: Kind is the kind of the referenced object.
                          type: string
                        name:
                          description: Name is the name of the referenced object.
                          type: string
                        namespace:
                          description: Namespace is the namespace of the referenced
                            object.
                          type: string
                        uid:
                          description: UID is the uid of the referenced object.
                          type: string
                      required:
                      - apiVersion
                      - kind
                      - name
                      - namespace
                      - uid
                      type: object
                  type: object
                type: array
              settings:
                additionalProperties:
                  type: string
                description: SettingsMap contains bmc settings as map
                type: object
              version:
                description: Version defines the BMC firmware for which the settings
                  should be applied.
                type: string
            required:
            - BMCRef
            - version
            type: object
          status:
            description: BMCSettingsStatus defines the observed state of BMCSettings.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of the BMC Settings Resource state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              state:
                description: State represents the current state of the BMC configuration
                  task.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
