---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: biossettings.metal.ironcore.dev
spec:
  group: metal.ironcore.dev
  names:
    kind: BIOSSettings
    listKind: BIOSSettingsList
    plural: biossettings
    singular: biossettings
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.version
      name: BIOSVersion
      type: string
    - jsonPath: .spec.serverRef.name
      name: ServerRef
      type: string
    - jsonPath: .spec.serverMaintenanceRef.name
      name: ServerMaintenanceRef
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .status.lastAppliedTime
      name: AppliedOn
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BIOSSettings is the Schema for the biossettings API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BIOSSettingsSpec defines the desired state of BIOSSettings.
            properties:
              serverMaintenancePolicy:
                description: ServerMaintenancePolicy is a maintenance policy to be
                  enforced on the server.
                type: string
              serverMaintenanceRef:
                description: ServerMaintenanceRef is a reference to a ServerMaintenance
                  object that BiosSetting has requested for the referred server.
                properties:
                  apiVersion:
                    description: APIVersion is the API version of the referenced object.
                    type: string
                  kind:
                    description: Kind is the kind of the referenced object.
                    type: string
                  name:
                    description: Name is the name of the referenced object.
                    type: string
                  namespace:
                    description: Namespace is the namespace of the referenced object.
                    type: string
                  uid:
                    description: UID is the uid of the referenced object.
                    type: string
                required:
                - apiVersion
                - kind
                - name
                - namespace
                - uid
                type: object
              serverRef:
                description: ServerRef is a reference to a specific server to apply
                  bios setting on.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: serverRef is immutable
                  rule: self == oldSelf
              settingsFlow:
                description: SettingsFlow contains BIOS settings sequence to apply
                  on the BIOS in given order
                items:
                  properties:
                    name:
                      description: Name is the name of the flow item
                      maxLength: 1000
                      minLength: 1
                      type: string
                    priority:
                      description: |-
                        Priority defines the order of applying the settings
                        any int greater than 0. lower number have higher Priority (ie; lower number is applied first)
                      format: int32
                      maximum: 2147483645
                      minimum: 1
                      type: integer
                    settings:
                      additionalProperties:
                        type: string
                      description: 'Settings contains software (eg: BIOS, BMC) settings
                        as map'
                      type: object
                  required:
                  - name
                  - priority
                  type: object
                type: array
              version:
                description: 'Version contains software (eg: BIOS, BMC) version this
                  settings applies to'
                type: string
            required:
            - version
            type: object
          status:
            description: BIOSSettingsStatus defines the observed state of BIOSSettings.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of the BIOSSettings's current state.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              flowState:
                description: FlowState is a list of individual BIOSSettings operation
                  flows.
                items:
                  properties:
                    conditions:
                      description: Conditions represents the latest available observations
                        of the BIOSSettings's current Flowstate.
                      items:
                        description: Condition contains details for one aspect of
                          the current state of this API Resource.
                        properties:
                          lastTransitionTime:
                            description: |-
                              lastTransitionTime is the last time the condition transitioned from one status to another.
                              This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                            format: date-time
                            type: string
                          message:
                            description: |-
                              message is a human readable message indicating details about the transition.
                              This may be an empty string.
                            maxLength: 32768
                            type: string
                          observedGeneration:
                            description: |-
                              observedGeneration represents the .metadata.generation that the condition was set based upon.
                              For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                              with respect to the current state of the instance.
                            format: int64
                            minimum: 0
                            type: integer
                          reason:
                            description: |-
                              reason contains a programmatic identifier indicating the reason for the condition's last transition.
                              Producers of specific condition types may define expected values and meanings for this field,
                              and whether the values are considered a guaranteed API.
                              The value should be a CamelCase string.
                              This field may not be empty.
                            maxLength: 1024
                            minLength: 1
                            pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                            type: string
                          status:
                            description: status of the condition, one of True, False,
                              Unknown.
                            enum:
                            - "True"
                            - "False"
                            - Unknown
                            type: string
                          type:
                            description: type of condition in CamelCase or in foo.example.com/CamelCase.
                            maxLength: 316
                            pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                            type: string
                        required:
                        - lastTransitionTime
                        - message
                        - reason
                        - status
                        - type
                        type: object
                      type: array
                    flowState:
                      description: State represents the current state of the bios
                        configuration task for current priority.
                      type: string
                    lastAppliedTime:
                      description: LastAppliedTime represents the timestamp when the
                        last setting was successfully applied.
                      format: date-time
                      type: string
                    name:
                      description: Name identifies current priority settings from
                        the Spec
                      type: string
                    priority:
                      description: Priority identifies the settings priority from
                        the Spec
                      format: int32
                      type: integer
                  type: object
                type: array
              lastAppliedTime:
                description: LastAppliedTime represents the timestamp when the last
                  setting was successfully applied.
                format: date-time
                type: string
              state:
                description: State represents the current state of the bios configuration
                  task.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
