name: Check Codegen

on:
  pull_request:

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
    - uses: actions/checkout@v6
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          code:
            - '!docs/**'
            - '!**/*.md'

  check-codegen:
    name: Run code generation checks
    needs: changes
    if: needs.changes.outputs.code == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: Run code gen checks
      run: make check-gen
    - name: Compare the expected and actual generated/* directories
      run: |
        if [ "$(git diff | wc -l)" -gt "0" ]; then
          echo "Detected uncommitted changes after build. Consider running 'make generate && make docs && make helm'."
          echo "See status below:"
          git diff
          exit 1
        fi
