name: REUSE Compliance Check

on: pull_request

jobs:
  test:
    name: Run REUSE check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
