name: Tests

on:
  pull_request:
    types: [ assigned, opened, synchronize, reopened ]

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - '!docs/**'
              - '!**/*.md'

  test:
    name: Run tests
    needs: changes
    if: needs.changes.outputs.code == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Install lldpd
        run: |
          sudo apt-get update
          sudo apt-get install -y lldpd

      - name: Start lldpd
        run: |
          sudo systemctl start lldpd

      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          sudo --preserve-env=GOROOT,GOPATH,PATH go mod tidy
          sudo --preserve-env=GOROOT,GOPATH,PATH make test-only
